
body{
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat-bold";
}

.link{
  font-family: "Montserrat-bold";
  font-size: 1.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;

}

.navbar-list{
  padding: 0 10px;
}

.nav-link{
  font-size: 1.5rem;
  font-family: "Montserrat-light"
}

.slide{
  width: 100%;
  height: 640px;
}
/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
  background-size: cover;
  align-items: center;
	justify-content: center;
}

.text {
  font-family: "Montserrat-bold";
  font-size: 3.3rem;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 7% 12%;
  position: absolute;
  bottom: 82%;
  width: 100%;

}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}



.mid-heading{
  font-family: "Montserrat-bold";
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 3%;
}

.sport-description{
  font-family: "Montserrat-bold";
  font-size: 1.75rem;
  text-align: left;
  line-height: 1.5;
}

.sport-fitness{
  padding: 10% 15%;

}
.sport-image{
  width: 18.75rem;
  height: 18.75rem;
}

.type-main{
  font-size: 2.5rem;
  font-family: "Montserrat-bold";
  font-weight: bold;
}

.type-text{
  font-size: 2rem;
  line-height: 1.5;
}

.type-image{
  border-radius: 100%;
  width: 18.75rem;

}

.download-button{
  margin: 5% 3% 5% 0;
}

.download-section{
  padding: 5% 11% 5%;
  background-color: #8A56AC;
}

.download-heading{
  font-family: "Montserrat-bold";
  font-size: 2.3rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 3%
}

.download-text{
  font-family: "Montserrat-bold";
  font-size: 2rem;
  text-align: center;

}

.download-button:hover{
  background-color: #D47FA6;
border: solid black;
color: black;
}

.features{
  padding: 5% 10% 0;
}

.link{
  font-family: "Montserrat-bold";
  font-size: 1.5rem;
  color: black;
}

.icon{
  color: #8A56AC;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #D47FA6;
}

.feature-title{
  font-size: 2rem;
  font-family: "Montserrat-bold";
  font-weight: bold;
}

.feature-box{
  padding: 4%;
  }

.icon2{
  margin: 5% 2% 3%;
  color: black;
}

.icon2:hover{
  color: white;
}

.footer-section{
  background-color: #D47FA6;
    padding: 1% 15%;
}
